﻿@model E_MarketingLearn.Models.ViewModelsDataTableList
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List User</title>
    <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
    <style>
                   body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }

            .container {
                margin-top: 20px;
            }

            h2 {
                margin-top: 30px;
                text-align: center;
                color: #333;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th,
                    td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ccc;
            }

            th {
                background-color: #f2f2f2;
            }

            .btn {
                padding: 8px 16px;
                font-size: 14px;
                text-decoration: none;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            .btn-primary {
                background-color: #007bff;
                color: #fff;
            }

            .btn-primary:hover {
                background-color: #0056b3;
            }

            .btn-danger {
                background-color: #dc3545;
                color: #fff;
            }

            .btn-danger:hover {
                background-color: #a71d2a;
            }
    </style>
</head>
<body>
@*@Session["UserID"]*@
    <div class="container">

        <h2>Category</h2>

        <table>
            <tr>
                <th></th>
                <th>ID Categories</th>
                <th>Category</th>
                <th>Category Add By </th>
                <th>Status</th>
                <th></th>

                <th>Action</th>
            </tr>


            @for (int i = 0; i < Model.ListCategory.Count; i++)
            {

                var category = Model.ListCategory[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@category.cat_id</td>
                    <td>@category.cat_name</td>
                    <td>@category.tbl_admin.ad_username</td>
                    <td>@category.cat_status</td>
                    <td>
                        <img src="@Url.Content(@category.cat_image)"style="width: 50px; height: 50px;">
                    </td>

                    <td>
                       
                         <a href="@Url.Action("editcategory","admin", new {@id=category.cat_id})" class="btn btn-success">Edit</a>
                      
                         <a href="@Url.Action("DeletedCategory","admin", new {@id=category.cat_id})" class="btn btn-danger" onclick="return msg('@category.cat_name')">Delete</a>
                    </td>
                </tr>
                   
            }


        </table>
        <br />
        <a href="@Url.Action("dashboard", "Admin")" class="btn btn-primary">Back</a>
    </div>
    <h1>@ViewBag.msg</h1> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
@section Scripts{
    <script>
        function msg(data) {
            return confirm("Hapus Kategori " + data + "..?")
        }

    </script>
}
