﻿@model E_MarketingLearn.Models.tbl_admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
    <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .alert {
            padding: 10px;
            background-color: #dff0d8;
            border: 1px solid #d6e9c6;
            color: #3c763d;
        }

        h2 {
            margin-top: 30px;
        }

        .card-link {
            text-decoration: none;
            color: #333;
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: box-shadow 0.3s;
        }

        .card:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 15px;
        }

        .card-title {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .card-text {
            font-size: 14px;
            color: #888;
            margin-bottom: 0;
        }

        .text-primary {
            font-size: 30px;
        }

        .btn-link {
            color: #333;
        }

        .btn-link:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="alert alert-success" role="alert">
            Anda sedang login sebagai <b>@Session["UserName"].ToString()</b>, id: @Session["UserID"]
        </div>

        <h2>Dashboard</h2>
        <div class="row">
             <div class="col-lg-6 col-md-6">
                <a href="@Url.Action("category", "admin")" class="card-link">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">Category</h5>
                                    <p class="card-text">Semua category yang telah ditambahkan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6">
                <a href="@Url.Action("index", "admin")" class="card-link">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">Total Produk</h5>
                                    <p class="card-text">Jumlah semua produk</p>
                                </div>
                                <h3 class="text-primary">@ViewBag.totalcategory</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

          

            <div class="col-lg-6 col-md-6">
                <a href="@Url.Action("upload", "admin")" class="card-link">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">Upload Category</h5>
                                    <p class="card-text">Tambahkan produk anda disini</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

           

            <div class="col-lg-6 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                <h5 class="card-title">Total Pesanan</h5>
                                <p class="card-text">Jumlah semua pesanan</p>
                            </div>
                            <h3 class="text-primary">50</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="card mb-4">
                    <a href="@Url.Action("userlist","admin")" class="card-link">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <h5 class="card-title">User</h5>
                                    <p class="card-text">Total user yang bergabung</p>
                                </div>
                                <h3 class="text-primary">@ViewBag.totalUser</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="col-lg-6 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-column">
                                <h5 class="card-title">Retur Pembelian</h5>
                                <p class="card-text">Pengembalian Barang</p>
                            </div>
                            <h3 class="text-primary">30</h3>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    <div class="container">
        <a href="@Url.Action("logout", "admin")" type="button" class="btn btn-link">Logout</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
