﻿@model E_MarketingLearn.Models.tbl_category

@{
    ViewBag.Title = "EditCategory";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { background-color: #f4f4f4; }

        .container { background-color: #fff; border-radius: 10px; padding: 30px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

        .form-group label { font-weight: bold; }

        .img-thumbnail { max-width: 100px; max-height: 100px; border: none; }

        .btn-primary { background-color: #007bff; border-color: #007bff; }

            .btn-primary:hover { background-color: #0056b3; border-color: #0056b3; }

        .btn-secondary { background-color: #6c757d; border-color: #6c757d; }

            .btn-secondary:hover { background-color: #4e555b; border-color: #4e555b; }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-4">Edit Category</h2>
                <form action="@Url.Action("editcategory", "admin")" method="post" enctype="multipart/form-data">
                    @ViewBag.msg
                
                    @Html.AntiForgeryToken()
                   
                    <div class="mb-3 form-group">
                        @Html.LabelFor(model => model.cat_id, "Category ID:")
                      @*  @Html.LabelFor(model => model.cat_id, new { @readonly = "readonly",@style="color:green"})*@
                        @Model.cat_id
                        @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3 form-group">
                        @Html.LabelFor(model => model.cat_name, "Category Name:")
                        @Html.EditorFor(model => model.cat_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cat_name, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3 form-group">
                        @Html.LabelFor(model => model.cat_image, "Category Image:")
                        <img src="@Url.Content(Model.cat_image)" alt="img" class="img-thumbnail mb-2" id="imgPreview" />
                        @Html.ValidationMessageFor(model => model.cat_image, "", new { @class = "text-danger" })

                        <input type="file" name="myfile" value="@Model.cat_image" accept=".jpg, .jpeg, .png"  onchange="previewImage()" />

                    </div>

                    <div class="mb-3 form-group">
                        @Html.LabelFor(model => model.cat_status, "Category Status:")
@*                        @Html.EditorFor(model => model.cat_status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cat_status, "", new { @class = "text-danger" })*@
                    @Model.cat_status
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

                <div class="mt-3">
                    @Html.ActionLink("Back to List", "category", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
   <h1>@ViewBag.Error</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function previewImage() {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var imgPreview = document.getElementById('imgPreview');
                imgPreview.src = dataURL;

            };
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
</html>
