﻿@using E_MarketingLearn.Models;
@model  E_MarketingLearn.Controllers.AdminController.PaginationModel<E_MarketingLearn.Models.tbl_category>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutNavAdmin.cshtml";
}

<div class="container">
    
     <h2>Category</h2>
    </div>


         <div class="container">
             <h1>@ViewBag.NoData</h1>
                @foreach (var item in Model.Data)
            {
    
                        <div class="product">
                            <img src="@Url.Content(item.cat_image)" alt="@item.cat_name">
                                <h3>@item.cat_name</h3>
                             @Html.ActionLink("Pilih Category", "product", "admin", new {id = item.cat_id},
                             new{@class = "btn btn-primary"})
                        </div>
            }

             </div>
  


<!-- Membuat elemen pagination -->
<div class="pagination">
    @if (Model.TotalPages > 1)
    {
        if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">&laquo; Previous</a>
        }
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="active">@i</span>
            }
            else
            {
                <a href="@Url.Action("Index", new { page = i })">@i</a>
            }
        }
        if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Next &raquo;</a>
        }
    }
</div>