﻿@model E_MarketingLearn.Models.tbl_admin

@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login E-Marketing</title>
    <link href="~/Content/Css/Login/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <style>
        body { background-image: url("../Content/img/web/bg-login.jpg"); 
               background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: 100% 100%; }
        .login-user-link { position: absolute; top: 20px; right: 20px; color: white; font-size: 16px; }
    </style>
</head>
<body>
    <a href="@Url.Action("Login", "User")" class="login-user-link">Login User?</a>
    <div class="container col-sm-7 col-md-5 col-lg-4" aria-live="off" aria-multiline="False">
        @using (Html.BeginForm("checkLogin", "admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="title">Login</div>

            <div class="input-box underline" aria-required="True">
                @Html.TextBoxFor(u => u.ad_username, new {@placeholder = "Username", @required = "required" })
                <div class="underline"></div>
            </div>

            <div class="input-box">
                @Html.PasswordFor(p => p.ad_password, new { @placeholder = "Password", @required = "required" })
                <div class="form-group">
                    <p style="color: red;">@TempData["message"]</p>
                </div>
                <div class="underline"></div>
            </div>

            <div class="input-box button">
                <input type="submit" value="Login" />
            </div>

            <div class="form-group row"></div>
        }

        <div class="twitter">
            <a href="#"><i class="fab fa-twitter"></i>Sign in With Twitter</a>
        </div>



        <div class="facebook">
            <a href="#"><i class="fab fa-facebook-f"></i>Sign in With Facebook</a>
        </div>
    </div>
   
</body>
</html>
