﻿@using E_MarketingLearn.Models;
@model  E_MarketingLearn.Controllers.AdminController.PaginationModel<E_MarketingLearn.Models.tbl_product>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutNavAdmin.cshtml";
}



<!-- Form pencarian -->
<div class="container" style="text-align: left; margin-top: auto; margin-left: auto;">

    <form method="get" action="@Url.Action("searchproduct","admin")" class="form-inline ">
        <div class="form-group">
            <input type="text" name="search" placeholder="Search" class="form-control" value="@ViewBag.Search"/>
        </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

    </form>

      <div class="container">
         <h2>@ViewBag.Category </h2>
     </div>

</div>








         <div class="container">
             <h1>@ViewBag.NoData @ViewBag.SearchKosong</h1>
             
                @foreach (var item in Model.Data)
                {
                            <div class="product">
                                <img src="@Url.Content(item.pro_image)" alt="@item.pro_name">
                                
                                  <h3>@item.pro_name</h3>
                                
                                    @Html.ActionLink("Details", "Details", "admin", new { id = item.pro_id }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Deleted", "Deleted", "admin", new { id = item.pro_id }, new { @class = "btn btn-danger", @onclick="return confirm('Are you sure you want to delete this product?');" })
                                    
                            </div>
                }

          </div>
  


<!-- Membuat elemen pagination -->
<div class="pagination">
    @if (Model.TotalPages > 1)
    {
        if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("mypost", new { page = Model.CurrentPage - 1 })">&laquo; Previous</a>
        }
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="active">@i</span>
            }
            else
            {
                <a href="@Url.Action("mypost", new { page = i })">@i</a>
            }
        }
        if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("mypost", new { page = Model.CurrentPage + 1 })">Next &raquo;</a>
        }
    }
        </div>
