﻿@model E_MarketingLearn.Models.tbl_category
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Upload File</h1>
        <form method="post" action="@Url.Action("uploadcheck","Admin")" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="category">Category:</label>
               
                @Html.TextBoxFor(x => x.cat_name, new { @class = "form-control", @placeholder = "Category" })
            </div>

            <div class="form-group">
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg" class="form-control-file" />
            </div>

            <input type="submit" value="Upload Image" class="btn btn-primary" />
            <br /><br />

            @Html.Raw(@ViewBag.Message)
        </form>

        <a href="@Url.Action("dashboard","admin")" class="btn btn-secondary">Back</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
