﻿
@model List<E_MarketingLearn.Models.tbl_user>
@using E_MarketingLearn.Security;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List User</title>
    <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }

        .container { margin-top: 20px; }

        h2 { margin-top: 30px; text-align: center; color: #333; }

        table { width: 100%; border-collapse: collapse; }

        th,
        td { padding: 10px; text-align: left; border-bottom: 1px solid #ccc; }

        th { background-color: #f2f2f2; }

        .btn { padding: 8px 16px; font-size: 14px; text-decoration: none; border: none; border-radius: 4px; cursor: pointer; }

        .btn-primary { background-color: #007bff; color: #fff; }

            .btn-primary:hover { background-color: #0056b3; }

        .btn-danger { background-color: #dc3545; color: #fff; }

            .btn-danger:hover { background-color: #a71d2a; }
    </style>
</head>
<body>
    <div class="container">

        <h2>List User</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>No.Telp</th>
                <th>Email</th>
                <th>Picture</th>

                <th>Action</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.u_id</td>
                    <td>@user.u_name</td>
                    <td>@mysecurity.HashPassword(user.u_password)</td>
                    <td>@user.u_contact</td>
                    <td>@user.u_email</td>
                    <td>
                        <img src="@Url.Content(@user.u_image)"style="width: 50px; height: 50px;">
                    </td>

                    <td>
                        <a href="#" class="btn btn-danger" onclick="msg('@user.u_name')">Delete</a>
                    </td>
                </tr>
            }
        </table>
        <br />
        <a href="@Url.Action("dashboard", "Admin")" class="btn btn-primary">Back</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts{
    <script>
        function msg(username) {

            return confirm("Hapus data " + username + "..?")

        }

    </script>
}

