﻿@using PagedList.Mvc
@model  PagedList.IPagedList<E_MarketingLearn.Models.tbl_category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View  Category</title>
    <link href="~/Content/paginition.css" rel="stylesheet" />
    <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="height:1150px; ">
        <div class="row">
            <div class="col-lg-12" style="height:100px; border:1px solid solid; ">


                <img src="~/Content/img/Modern-e-Commerce-Web-Design-Trends.-Part-2.gif" style="width:100%; height:100%" />


            </div>

        </div>



        <div class="row" style="margin-bottom:40px">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">
                        <img src="@Url.Content(item.cat_image)" style=" height:100%;width:100% ;border-radius:50px 50px 50px 50px" />
                        <h4 style="color:#808080; font-family:'Arial Rounded MT';text-align:center">@item.cat_name</h4>
                        <div style="margin-left:160px">
                           
                        @try
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.cat_id }, new { @class = "btn btn-danger btn-sm" });
                        }
                        catch (Exception)
                        {

                            Url.RouteUrl("~Shared/Error.cshtml");
                        }           
                          
                           

                        </div>
                    </div>

                }
            }








        </div>


    </div>

    <div id="container" style="margin-top: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-bottom: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewCategory", new { page }))
        </div>
    </div>
</body>
</html>
