﻿@model E_MarketingLearn.Models.tbl_admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <form method="post" action="@Url.Action("login","account")">
    
    <div>
        username:
       <input  type="text"  name="ad_username" />
    
    
    </div>
        <div>
            password:
            <input type="password"  name="ad_password" />
          @*   @Html.PasswordFor(p=>p.ad_password)*@
        </div>
        <input type="submit" value="login" />
         @Html.ValidationSummary(true, "", new { @class = "text-danger", @style="color:red"}) <!-- Menampilkan pesan validasi -->
      </form>
</body>
</html>
