﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
        <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
      <!-- Daftar file CSS dan JS yang diperlukan -->
    @RenderSection("style", required:false)
    <title>@ViewBag.Title</title>
 
</head>
<body>
     <!-- Header, menu navigasi, atau elemen lainnya -->
    @RenderSection("Header", required: false)


    @RenderBody()
   


      <!-- Footer atau elemen lainnya -->
    @RenderSection("Footer", required: false)

   <!-- Daftar file JavaScript yang diperlukan -->
    @RenderSection("Scripts", required: false)
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
