﻿@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.redirectTitle </title>



</head>


<body>
    @ViewBag.redirectPesan
    <b><span id="timer"></span></b>


</body>
</html>



<script>
    var count = 5; // Waktu countdown mundur (dalam detik)
    var redirectUrl = '@ViewBag.redirectRoute'; // URL tujuan

    function countdown() {
        var timer = document.getElementById('timer');
        timer.innerHTML = count;

        if (count === 0) {
            window.location.href = redirectUrl;
        } else {
            count--;
            setTimeout(countdown, 1000); // Mengatur waktu tunggu selama 1 detik (1000ms)
        }
    }

    window.onload = function () {
        countdown();
    };
</script>


