﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <!--  
      <link href="~/Content/Css/Upload/style.css" rel="stylesheet" />
    <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" /> 
      -->

    <meta name="viewport" content="width=device-width" />
    <title>Upload File</title>
</head>
<body>

   <div class="mx-auto">
             <label for="images" class="drop-container">

                  <span class="drop-title">Drop files here</span>
                    or
                  <input type="file" accept=".png, .jpg, .jpeg" required >
          
                  
                   
            </label>
         
       <input id="Button1" type="button" class="btn btn-primary" value="button" />
    </div>
</body>
</html>
