﻿@model E_MarketingLearn.Models.ViewModels
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

@section style {
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            text-align: center;
        }

        .product-details {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .product-image {
            width: 200px;
            margin-right: 20px;
        }

        .product-image img {
            width: 100%;
            height: auto;
        }

        .product-info {
            flex-grow: 1;
        }

        .product-field {
            margin-bottom: 10px;
        }

        .field-label {
            font-weight: bold;
        }

        .buttons {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        .btn.edit-btn {
            background-color: #28a745;
        }

        .btn.back-btn {
            background-color: #dc3545;
        }
      
    </style>
}

<div class="container">
    <h2>Product Details</h2>
    <div class="product-details">
         <div class="container">
        <div class="product-image">
            <img src="@Url.Content(Model.pro_image)" alt="Product Image">
        </div>
       
        <div class="product-info">
            <div class="product-field">
                <span class="field-label">Product ID:</span>
                <span class="field-value">@Model.pro_id</span>
            </div>
            <div class="product-field">
                <span class="field-label">Product Name:</span>
                <span class="field-value">@Model.pro_name</span>
            </div>
            <div class="product-field">
                <span class="field-label">Description:</span>
                <span class="field-value">@Model.pro_des</span>
            </div>
            <div class="product-field">
                <span class="field-label">Price:</span>
                <span class="field-value">@Model.pro_price</span>
            </div>
            <div class="product-field">
                <span class="field-label">Category:</span>
                <span class="field-value">@Model.cat_name</span>
            </div>
            <div class="product-field">
                
                    <span class="field-label">Posted by:</span>
                
                    <span class="field-value">
                        <img src="@Url.Content(Model.u_image)" alt="User Image" style="width:40px;height:40px;" /> 
                        @Model.u_name
                    </span>
            </div>
             <div class="product-field">
                <span class="field-label">Contact : </span>
                <span class="field-value">@Model.u_contact</span>
            </div>
            </div>
        </div>
    </div>
    <div class="buttons">
       <a href="#" class="btn edit-btn" onclick="showAlert()">Beli</a>
        
</script>
        @Html.ActionLink("<<Back", "Product", "User", new { id = Model.cat_id }, new { @class = "btn back-btn" })
    @* @Html.ActionLink("Beli", "Edit", "User", new { id = Model.pro_id }, new { @class = "btn edit-btn" })*@
    </div>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Product Details</legend>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_id, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_id, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_name, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_des, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_des, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_price, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_fk_cat, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_fk_cat, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pro_fk_user, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DisplayFor(model => model.pro_fk_user, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-6">
            <img src="@Url.Content(Model.pro_image)" class="img-thumbnail" alt="Product Image" />
        </div>  
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", "User", new { id = Model.pro_id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Product", "User", new { id = Model.pro_fk_cat }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>*@

@section Scripts{
    <script>
        function showAlert() {
            alert("Masih dalam tahap pengembangan :)");
        }
        </script>
    }