﻿@model E_MarketingLearn.Models.tbl_user
@{
    Layout = null;

    if (Session["UserName"] == null)
    {
        Response.Redirect("login");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="~/Content/Css/EditProfile.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form method="post" action="@Url.Action("editprofile", "user")" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img src="@Url.Content(Model.u_image)" class="img-circle profile-avatar" alt="User avatar">
                        <input type="file" name="profileImage" accept="image/*">
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Contact info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile number</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" value="@Model.u_contact" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">E-mail address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" value="@Model.u_email">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">User Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="u_name" value="@Model.u_name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Security</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Current Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" value="" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                   
                        <input type="submit" class="btn btn-primary" value="Update">
                        @Html.ActionLink("Back", "index", null, new { @class = "btn btn-default" })
                   
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
