﻿@model E_MarketingLearn.Models.tbl_product
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <style>
        .form-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn-submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-submit:hover {
            background-color: #45a049;
        }

        .text-danger {
            color: red;
        }
    </style>
}



<div class="form-container">
    <h2>Tambah Data</h2>

    @using (Html.BeginForm("TambahData", "ControllerName", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        
        
       

        <div class="form-group">
            @Html.LabelFor(model => model.pro_name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.pro_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pro_name, "", new { @class = "text-danger" })
        </div>

      
        
        
        
        <!-- Tambahkan elemen form lainnya sesuai dengan model Anda -->

        <div class="form-group">
            <input type="submit" value="Simpan" class="btn-submit" />
        </div>
    }

</div>