﻿@model E_MarketingLearn.Models.tbl_user
@{
    //var showFooterScript = false; // Atur variabel ini sesuai kebutuhan
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">E-Market Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("login","admin")">Admin Login</a>
                </li>
                
            </ul>

        </div>
    </div>
</nav>

<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login User</div>
                    <div class="card-body">
                        <form action="@Url.Action("Login","user")" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                   @* <input type="text" id="email_address" class="form-control" name="email-address" required autofocus> *@
                                       @Html.TextBoxFor(model => model.u_email, 
                                       new { 
                                           @class = "form-control", 
                                           required = "required", 
                                           name = "email-address", 
                                           autofocus = "autofocus",
                                           type="email"
                                       })

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    @*<input type="password" id="password" class="form-control" name="password" required>*@
                                     @Html.PasswordFor(model => model.u_password, 
                                       new { 
                                           @class = "form-control", 
                                           required = "required", 
                                           name = "email-address", 
                                           autofocus = "autofocus",
                                       })
                                       @Html.ValidationMessageFor(model => model.u_password, "", new { @class = "text-danger" })
                                       <p style=color:red> @TempData["message"]</p>
                                </div>
                             
                            </div>

                           

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                   <a href="@Url.Action("SignUp","User")" class="btn btn-link">SignUp?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
 @* <script src='https://a.bsite.net/footer.js'></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
   @* @if (!showFooterScript) {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var scriptElements = document.querySelectorAll('script[src="https://a.bsite.net/footer.js"]');

                scriptElements.forEach(function (scriptElement) {
                    scriptElement.remove();
                });
            });
        </script>
    }*@
   @* <script>
        document.addEventListener('DOMContentLoaded', function () {
            var scriptElements = document.querySelectorAll('script[src="https://a.bsite.net/footer.js"]');

            scriptElements.forEach(function (scriptElement) {
                scriptElement.remove();
            });
        });
    </script>*@
}






