﻿@*@model List<E_MarketingLearn.Models.tbl_product>*@
@using E_MarketingLearn.Models;
@model E_MarketingLearn.Controllers.UserController.PaginationModel<E_MarketingLearn.Models.tbl_product>

@{
    ViewBag.Title = "mypost";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<h2>mypost</h2>

<p>
    @Html.ActionLink("Create New", "upload", "user")
</p>

<div class="table-responsive">
    <table class="table table-bordered table-centered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Product Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var item in Model.Data)
            {
              
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.pro_name)</td>
                    <td>
                        <img src="@Url.Content(item.pro_image)" width="160" height="160" alt="Product Image" onchange="previewImage(event)"/>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.pro_des)</td>
                    <td>@Html.DisplayFor(modelItem => item.pro_price)</td>
                    <td>@Html.DisplayFor(modelItem => item.pro_fk_cat)</td>

                    <td>
                        @Html.ActionLink("Edit", "postedit", new { id = item.pro_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.pro_id }) |
                        @Html.ActionLink("Delete", "PostDelete", new { id = item.pro_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="pagination">
    @if (Model.TotalPages > 1)
    {
        if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("mypost", new { page = Model.CurrentPage - 1 })">&laquo; Previous</a>
        }
        for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <span class="active">@i</span>
            }
            else
            {
                <a href="@Url.Action("mypost", new { page = i })">@i</a>
            }
        }
        if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("mypost", new { page = Model.CurrentPage + 1 })">Next &raquo;</a>
        }
    }
 </div>

@section Scripts
{
     <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var imgPreview = document.getElementById('imgPreview');
                imgPreview.src = dataURL;
            };
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}



