﻿@model E_MarketingLearn.Models.tbl_product

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

@section style {
    <style>
        .form-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn-submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-submit:hover {
            background-color: #45a049;
        }

        .text-danger {
            color: red;
        }
    </style>
}

@section Header{
    <div class="form-container">
        <h2>Update Data</h2>
        
        <form action="@Url.Action("PostEdit","User")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.pro_name, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.pro_name, new { htmlAttributes = new { @class = "form-control", required = "required"} })
                @Html.ValidationMessageFor(model => model.pro_name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pro_price, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.pro_price, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.pro_price, "", new { @class = "text-danger" })
            </div>
        
            <div class="form-group">
                @Html.LabelFor(model => model.pro_des, htmlAttributes: new { @class = "form-label" })
                @Html.TextAreaFor(model => model.pro_des, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.pro_des, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pro_image, htmlAttributes: new { @class = "form-label" })
                <div>
                    <img src="@Url.Content(Model.pro_image)" width="160" height="160" id="imgPreview"/>
                </div>
                <input type="file" value="@Model.pro_image" name="File" class="form-control" accept="image/*" onchange="previewImage()"/>
                @Html.ValidationMessageFor(model => model.pro_image, "", new { @class = "text-danger" })
            </div>
                
          
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn btn-primary" />
                @Html.ActionLink("Kembali", "Index", null, new { @class = "btn btn-secondary" })
            </div>
            <div class="form-group">
                <p style="color:green">@ViewBag.Message</p>
                <p style="color:red">@ViewBag.Error</p>
            </div> 

        </form>
    </div>
}


@section Scripts
{
     <script>
        function previewImage() {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var imgPreview = document.getElementById('imgPreview');
                imgPreview.src = dataURL;
             
            };
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
