﻿@model E_MarketingLearn.Models.ViewModelsDataTable

@{
    ViewBag.Title = "PostDelete";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

@section style {
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            text-align: center;
        }

        .product-details {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .product-image {
            width: 200px;
            margin-right: 20px;
        }

        .product-image img {
            width: 100%;
            height: auto;
        }

        .product-info {
            flex-grow: 1;
        }

        .product-field {
            margin-bottom: 10px;
        }

        .field-label {
            font-weight: bold;
        }

        .buttons {
            text-align: center;
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        .btn.edit-btn {
            background-color: #28a745;
        }

        .btn.back-btn {
            background-color: #dc3545;
        }
      
    </style>
}

<form action="@Url.Action("PostDelete","User")" method="post" enctype="multipart/form-data">
      @Html.AntiForgeryToken()
<div class="container">
   
     <h2>Are you sure want to delete this product?</h2>

    <div class="product-details">
         <div class="container">
        <div class="product-image">
            <img src="@Url.Content(Model.Product.pro_image)" alt="Product Image">
        </div>
       
        <div class="product-info">
            <div class="product-field">
                <span class="field-label">Product ID:</span>
                <span class="field-value">@Model.Product.pro_id</span>
            </div>
            <div class="product-field">
                <span class="field-label">Product Name:</span>
                <span class="field-value">@Model.Product.pro_name</span>
            </div>
            <div class="product-field">
                <span class="field-label">Description:</span>
                <span class="field-value">@Model.Product.pro_des</span>
            </div>
            <div class="product-field">
                <span class="field-label">Price:</span>
                <span class="field-value">@Model.Product.pro_price</span>
            </div>
            <div class="product-field">
                <span class="field-label">Category:</span>
                <span class="field-value">@Model.Category.cat_name</span>
            </div>
        
           
            </div>
        </div>
    </div>
 
</div>

  
     <div class="buttons">
        <a href="@Url.Action("mypost","user")" class="btn edit-btn">Back</a>
        <input type="submit" value="Delete" class="btn back-btn" onclick="return confirm('Are you sure you want to delete this product?');" />
    </div>
     
</form>

@section Scripts{
    <script>
        function showAlert() {
            alert("Masih dalam tahap pengembangan :)");
        }
        </script>
    }
