﻿@model E_MarketingLearn.Models.tbl_user

@{
    Layout = null;
}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>

    <meta charset="UTF-8">
    <title> Login E-Marketing </title>
      <link href="~/Content/Css/BoostrapCss/bootstrap.min.css" rel="stylesheet" />
      <link href="~/Content/Css/Login/style.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <style>
body {
  background-image: url('../Content/img/web/bg-login.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
    <div class="container col-sm-7 col-md-5 col-lg-4">

    @*@using (Html.BeginForm("checkLogin", "Admin",FormMethod.Post))
    {
            @Html.AntiForgeryToken()  
            @Html.ValidationSummary(true) 
        *@
 <form action="@Url.Action("SignUp","User")" method="post" enctype="multipart/form-data">
           @Html.AntiForgeryToken()
        <div class="title">Login</div>
        <div class="input-box underline" aria-required="True">
      
        @Html.TextBoxFor(u => u.u_name, new {@placeholder="Username", @required="*"})
          @*<input type="text" placeholder="Enter Your Email" required>*@
          <div class="underline"></div>
        </div>
     
            <div class="input-box underline" aria-required="True">
      
        @Html.TextBoxFor(u => u.u_password, new {@placeholder="Password", @required="*"})
          @*<input type="text" placeholder="Enter Your Email" required>*@
          <div class="underline"></div>
        </div>


         <div class="input-box underline" aria-required="True">
      
        @Html.TextBoxFor(u => u.u_email, new {@placeholder="Email", @required="*", @type="Email"})
          @*<input type="text" placeholder="Enter Your Email" required>*@
          <div class="underline"></div>
        </div>

       
         <div class="input-box underline" aria-required="True">
                   <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg"/ required="required">
          <div class="underline"></div>
        </div>


        <div class="input-box underline" aria-required="True">
        @Html.TextBoxFor(u => u.u_contact, new {@placeholder="Contact", @required="*", @type="number"})
          @*<input type="text" placeholder="Enter Your Email" required>*@
          <div class="underline"></div>
        </div>
            @Html.Raw(ViewBag.Message)
        <div class="input-box button">
             <input type="submit" name="" value="SignUp">
        </div>
         
</form>
 
  </body>
</html>
