﻿@model List<E_MarketingLearn.Models.tbl_user>
@{
    ViewBag.Title = "Test Debug View";
    Layout = null;
    
    
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>

    <h2>Test Debug</h2>
    <div class="container">
        @try
        {
            foreach (var item in Model.Where(p => p.u_name == "putera pratama"))
            {
                var tulisan = (item.u_email);
                string tesBesarKecil = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(tulisan);
            <p>@tesBesarKecil</p>
            }
            
            <span style="color: red">@ViewBag.Error</span>
        
        }
        catch (Exception x)
        {

            ViewBag.Tes = x.Data;
        }

        Result :   @ViewBag.Msg

        <div class="container">
            <span style="color: red">@ViewBag.Tes</span>
        </div>
    </div>


</body>
</html>
