﻿@model E_MarketingLearn.Models.tbl_product

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

@section style {
    <style>
        .form-container { max-width: 400px; margin: 0 auto; padding: 20px; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 5px; }

            .form-container h2 { text-align: center; margin-bottom: 20px; }

        .form-group { margin-bottom: 15px; }

        .form-label { display: block; font-weight: bold; margin-bottom: 5px; }

        .form-control { width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; }

        .btn-submit { display: block; width: 100%; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; }

            .btn-submit:hover { background-color: #45a049; }

        .text-danger { color: red; }
    </style>
}

@section Header{

    <div class="form-container">
        <h2>Post Data</h2>

        <form action="@Url.Action("Upload", "User")" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <!-- Isi Kategori -->
            @* pro_name = modelProduct.pro_name,
                            pro_price = modelProduct.pro_price,
                            pro_image = "~/Content/upload/" + fileName,
                            pro_fk_cat = modelProduct.pro_fk_cat,
                            pro_fk_user = Convert.ToInt32(Session["UserID"].ToString())*@

            <div class="form-group">
                @Html.LabelFor(model => model.pro_fk_cat, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.pro_fk_cat, ViewBag.CategoryList as SelectList, "-- Pilih Category --", new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.pro_fk_cat, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.pro_name, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.pro_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.pro_name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pro_price, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.pro_price, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.pro_price, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pro_des, htmlAttributes: new { @class = "form-label" })
                @Html.TextAreaFor(model => model.pro_des, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.pro_des, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.pro_image, htmlAttributes: new { @class = "form-label" })
                <input type="file" name="File" class="form-control" accept="image/*" required="required" />
                @Html.ValidationMessageFor(model => model.pro_image, "", new { @class = "text-danger" })
            </div>



            <div class="form-group">
                <input type="submit" value="Simpan" class="btn-submit" />
            </div>
            <div class="form-group">
                <p style="color: green">@ViewBag.Message</p>
                <p style="color: red">@ViewBag.error </p>
            </div>

        </form>
    </div>
}